src/main/mule/https.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7cfb61a1-89de-451c-aaa5-0657af1cc557" >
		<http:listener-connection protocol="HTTPS" host="0.0.0.0" port="8081" >
			<tls:context >
				<tls:key-store type="jks" path="keystore/keystore.jks" alias="mymule" keyPassword="123456" password="123456" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<flow name="httpsFlow" doc:id="f1808426-75de-4987-ab40-2d476cfbd1be" >
		<http:listener doc:name="Listener" doc:id="0aa3549a-e149-4eed-8e97-4157d2044039" config-ref="HTTP_Listener_config" path="/project"/>
		<set-payload value="#['login to https server  ADDING4444']" doc:name="Set Payload" doc:id="ed2e3cf2-1eea-4a8a-ae2d-171e56e29d79" />
	</flow>
</mule>
